body{
	background-color:white;
	}
	
	
	
.wrapper2
{ height:700;
width:1200;	
margin-left:auto;
margin-right:auto;
position:fixed center;

	
	
}
.boxleft
{
	height:650px;
	width:600px;
	border-right:2px silver solid;
	border-right-color:silver;
	padding:10px;
	text-align:justify;
	margin-left:20px;
	margin-right:0px;
	float:left;
		}
.boxright
{
	height:650px;
	width:550px;
	padding:10px;
	text-align:justify;	
	margin-left:2px;
	margin-right:5px;
	float:right;

}

img {
	float:right;
	padding-bottom:0px;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
}

p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	line-height: 1.25;
	margin-bottom:5px;
	margin-top:5px;
	color:black;
}


h1
{
	font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size:large;
	line-height: 1.25;
	margin-bottom:3px;
}

h2{
	font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size:large;
	line-height: 1.25;
	margin-bottom:3px

}

em {
	color:gray;
}
