body {
            margin-left:auto;
            margin-right:auto;
            background-color:#6699FF;}
            
.audio
        {
display:none;}
			

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1200px;
    height:600px;
}
