body{
	
    background-color:white;
}

.sidhuvud
{
	height:200px;
	width:1200px;
	position:top;
	margin-left:auto;
	margin-right:auto;
	
}


h1
{
	font-family: MuseoCyrl300,Arial,sans-serif;
	color:#FF3300;
	font-size:35px;
	letter-spacing:5px;
	font-style:center;
	margin-left:75px;
	
	
}

.box
{
	height:75px;
	width:100px;
	float:right;
}

.wrapper
{
	background-image:url("http://i.imgur.com/xmHHflP.jpg?1");
    background-position:cover;
    position:fixed;
    height:600px;
    width:3500px;
    background-repeat:repeat-x;
    margin-left:auto;
    margin-right:auto;
   
    
    
}

img {
    margin-bottom:350px;
    float:right;
    padding-right:0px;
    
    }
    


.btn1
{
	background-color:white;
	height:100px;
	width:140px;
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size:25px;
	padding:20px;
	border-radius:25px;
	margin-right:35px;

	}

.btn2
{
	background-color:white;
	height:100px;
	width:140px;
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size:25px;
	padding:20px;
	border-radius:25px;
	margin-left:70px;

}
.btn3
{
	background-color:white;
	height:100px;
	width:100px;
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size:25px;
	padding:10px;
	margin-left:45px;

}




.p1
{
	height:200px;
	width:2000px;
	margin-top:100px;
	margin-left:-2220px;
	background-color:transparent;
	
}

.main
{
	height:200px;
	width:2000px;
	border:thin black;
	background-color:transparent;
	
}


.sidfot
{
	height:100px;
	width:auto;
	margin:0;
	
}

.myImage {
     width:100px;
     height:50px;
     display:block;
     background-image:url("http://i.imgur.com/GtId0JU.jpg");
     background-repeat:no-repeat;
     float:left;
      height:133px;
     width:236px;
     background-color:transparent;
    

}

.myImage:hover {
     background-image:url("http://i.imgur.com/P8doShs.jpg");
     background-repeat:no-repeat;
     float:left;
     background-color:transparent;
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	text:justify;
	font-size:18px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}



.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 550px;
	height:auto;
	position: relative;
	margin: 2% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	overflow: scroll;
}


.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

