body{

	background: url("http://i.imgur.com/2EFiOeA.jpg") no-repeat center center scroll; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


	
}
.wrapper

{
	height:832px;
	width:1280px;
	margin-left:auto;
	margin-right:auto;
	padding:50px;

	}
	
p
	{
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size:75px;
	font-style:center;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
}


