body{
	height:100%;
	width:100%;
	
}
.wrapper

{
	height:832px;
	width:1280px;
	margin-left:auto;
	margin-right:auto;
	background-image:url("http://i.imgur.com/nsbUC8Y.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	padding:50px;
	}
	
	p
	{
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size:50px;
	text:center;
	margin-left:auto;
	margin-right:auto;
}
