body
{
	background-color:white;
	background-image:url("http://i.imgur.com/EewBkmS.jpg");
	background-position:fixed;
	background-repeat:no-repeat;
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size:large;
	font-color:black;
	background-color:white;
	text-align:justify;
	margin:0;

}



  /*här börjar min meny*/
.huvudmeny
{
   
    background-color:#CCCCCC;
    height:55px;
    width:100%;
    padding-bottom:2px;
    padding-left:275px;
    padding-top:0;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    font-family:"Palatino Linotype";
  font-size:xx-large;
  position:fixed;
    
    
    
}
.button {
	display: inline-block;
	zoom: 1; 
	*display: inline;
	vertical-align: baseline;
	margin: 0 35px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}


.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
/*här slutar min meny*/
p {
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size:large;
	color:black;
	background-color:white;
	text-align:justify;
	line-height:150%;
	background-color:white;
}


.artikel

 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.25;
    margin-bottom: 10px;
    margin-top: 5px;
    color: black;
    background-color:white;
}

.sidhuvud
{
	width:100%;
	height:85px;
	margin-bottom:25px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	display:block;
	position:fixed;


	
}

.sidfot
{
	width:600px;
	height:auto;
	margin:0;
	
	
}
img
{
	height:auto;
	width:auto;
	padding-left:5px;

	
}


.img1
{
position:fixed;
repeat:no-repeat;
}


h1
{font-family: "AR Chena"
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

	background-color:white;
}

h2
{

font-family: "Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

	background-color:white;
}

h5
{
	font-family: 'Tangerine', serif;
        font-size: 48px;
        text-shadow: 4px 4px 4px #aaa;
	float:left;
	padding:2px;
	margin-top:10px;
	margin-left:20px;
	background-color:white;
	
	
}
	

.wrapper
{
	width:1000px;
	height:auto;
	padding-top:100px;
	padding-left:10px;
	padding-right:10px;
	margin-left:auto;
	margin-right:auto;
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size:large;
	background-color:white;
	text-align:justify;
background-color:white;
	
}


box {
	width:700px;
	height:auto;
	margin-left:0px;
	margin-right:10px;
	background-color:white;
}

.box1
{ width:auto;
height:auto;
padding:15px;
border-left:1px silver;
	background-color:white;
}

form {
  
    margin-top:50px;
    float:right;
    width: 400px;
    height:350px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color:#CCCCCC;
}
form div + div {
    margin-top: 10px;
}
label {

    display: inline-block;
    width: 90px;
    text-align:left;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {

    border-color: #000;
}

textarea {
      vertical-align: top;
    height: 5em;
    resize: vertical;
}


button {

    margin-left: .5em;
}
.obove
{height:150px;
width:1200px;
}
.mellanrum
{
height:1000px;
width:1200px;
margin-top:100px;
border:none;
background:white;
}

.paddingtext

{ margin:10px;

padding-left:10px;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.wrapper2
{ height:1050px;
width:1200px;	
margin-bottom:15px;
margin-left:auto;
margin-right:auto;
margin-top:15px;


	
	
}
.boxleft
{
	height:700px;
	width:600px;
	border-right:2px silver solid;
	border-right-color:silver;
	padding:10px;
	text-align:justify;
	float:left;
	background-color:white;
		}
.boxright
{
	height:700px;
	width:550px;
	padding-left:10px;
	text-align:justify;	
	float:right;
	background-color:white;

}

img {
	float:right;
	padding-bottom:0px;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
}



rubrik1
{
	font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size:large;
	line-height: 1.25;
	margin-bottom:3px;
	background-color:white;
}

rubrik2
{
	font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size:large;
	line-height: 1.25;
	margin-bottom:3px;
	background-color:white;

}

em {
	color:#333333;
	background-color:white;
}

link {color:gray;
}


.smoothScroll {
  text-decoration: none;
    font-family: Segoe UI;
  margin: 24px;
}
.title {
  text-decoration: none;
    font-family: Segoe UI;
  margin: 24px;
}
.content {
  margin-top: 100%;
  margin-bottom: 100%;
}
small {
  margin-left: 24px;
  color: gray;
}

.mobile-menu {
	background:#8B4513;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	text-align: left;
	padding-top: 60px;
	transition: .3s;
	overflow: hidden;
	font-family: Verdana, sans-serif;
}
.mobile-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 15px;
}
.mobile-menu ul li a{
	display: block;
	padding-left: 15px;
	color: white;
	text-decoration: none;
}
.mobile-menu.open {
	width: 40%;
	position:fixed;
}
.mobile-menu-btn {
	display: inline-block;
	position: fixed;
	top: 0;
	left: 10px;
	cursor: pointer;
	font-size: 20px;
	color: #black;
	z-index: 99;
}
.mobile-menu-btn:after {
	content: "\f0c9";
	font-family: FontAwesome;
	transition: 1s;
}
.mobile-menu-btn.open:after {
	content: "\f00d";
}
.top-logo-mobile {
	position: absolute;
	top: 10px;
	left: 10px;
	opacity: 0;
	transition: .8s .3s;
}
.open .top-logo-mobile {
	opacity: 1;
}

.imgholder
{height:auto
width:900px;
margin-top:150px;
margin-right:auto;
margin-left:auto;

}


div.transbox {
 margin-top:150px;
  margin-left:auto;
  margin-right:auto;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
.menu-wrap {
    width:100%;
    height:70px;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:white;
    border-bottom:thin gray;
    position:fixed;
margin-left:auto;
margin-right:auto;
}
