

body {
  background-color: white;
}
p {
    text-align:justify;
    font-size:1.3em;
    color:black;
    text:justify;
    line-height:30px;
    
}
}
h1 {
    font:"Adobe Devanagari";
    font-size:1.7em;
    text:justify;
      width:400px;
       line-height:30px;
}
h2 {
    font:"Adobe Devanagari";
    font-size:1.5em;
    color:#FF3300;
    text-align:center;
     margin-left:auto;
    margin-right:auto;
     width:600px;
      line-height:30px;
   
}

h3{

font:"Adobe Devanagari";
    font-size:4em;
    color:#FF3300;
    text-align:center;
     margin-left:auto;
    margin-right:auto;
      width:1200px;
       line-height:30px;
}
.sidhuvud {
    height:135px;
    width:670px;
    background-color:white;
     margin-left:auto;
    margin-right:auto;
    margin-top:10px;
  
}
.wrapper {
    height:450px;
    width:1280px;
     margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    padding-bottom:10px;

    
}

.wrapper2
{
    background-image= url("http://i.imgur.com/nO7nFXd.jpg");
    background-repeat:no-repeat;
    background-position:scroll;
    height:450px;
    width:990px;
     margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    padding-bottom:10px;
    
}

img {
 margin-left:auto;
 margin-right:auto;
}
.litenbox {
    height:350px;
    width:500px;
    float:left;
  padding:30px;
    float:left;
    margin-top:15px;
   
}

.boxgray
{
    height:450px;
    width:990px;
     margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    padding-bottom:10px;
}

.sidfot {
    height:50px;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color:orange;
    text-align:center;
    border-radius:20px;
    -moz-box-shadow: 5px 5px rgba(0,0,0,0.7);
-webkit-box-shadow: 5px 5px rgba(0,0,0,0.7);
box-shadow: 5px 5px rgba(0,0,0,0.7);
    
}

.textsidfot
{ font-family:'Comic Sans MS', cursive;;
  color:#FF3300;
   font-size:20px;
     'Comic Sans MS', cursive;
     text-align:center;
     padding-top:10px;
     margin-left:15px;
     margin-right:15px;
     line-height:25px;
}

div.background {
    background: url("http://i.imgur.com/posjT20.jpg") no-repeat;
    height:920px;
    width:1280px;
    margin-left:auto;
    margin-right:auto;
    
  
}

div.transbox {
      margin-top:350px;
    margin-left:auto;
    margin-right:auto;
    padding:15px;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin-left:auto;
    margin-right:auto;
    width:920px;
    text:justify;
    padding:10px;
    font-weight: bold;
    color: #000000;
    }
.boximage
{
